---
import { about } from "../data/data.json";
import HoverReveal from "./HoverReveal.astro";
import SectionTitle from "./SectionTitle.astro";
import Animat from "./Animat.astro";
---

<section id="about" class="h-card" itemscope itemtype="https://schema.org/Person">
  <div class="text">
    <!-- <h2 class="title">{about.title}</h2> -->
  <p class="name p-name" itemprop="name" aria-label="سجاد سرلکی">{about.paragraphs[0]}</p>
  <p class="name p-name" itemprop="name" style="display: none;" >سجاد سرلکی</p>

    {
      (
  <p class="p-summary" itemprop="description">
          {about.paragraphs[1].split("Frontend Developer")[0]}
          <HoverReveal
            itemprop="jobTitle"
            text="Frontend Developer"
            gifUrl={"asset/gifs/css.gif"}
            position="top"
            size="200"
            class="gifText"
          />
          {about.paragraphs[1].split("Frontend Developer")[1]}{" "}
        </p>
      )
    }
  <div class="social-media p-contact" >
      {
        about.social.map((item) => (
          <a
            itemprop="contactPoint"
            href={item.link}
            target="_blank"
            id={item.name}
            data-static-icon={item.icon}
            data-animated-icon={item.animatedIcon}
            class="social-item"
            style=`background-image:url('${item.icon}'); `
            title={`Link to my ${item.name}`}
          
          ></a>
        ))
      }
    </div>
  </div>
  
  <Animat class="picture" delay="300" duration="1000"  animationName="fadeIn-appearance">
  <div >
    <img  src="asset/imgs/sajad.png" aria-label="سجاد سرلکی" alt="Sajad Sarlaki - سجاد سرلکی" class="image" itemprop="image" />
  </div>
</Animat>
  <Animat class="portal" duration="1000" animationName="fadeIn-from-bottom">
  <img src="asset/gifs/portal.gif" alt="Animated GIF of a portal" class="portal"  />
  </Animat>

  <SectionTitle
    text="Work Experience"
    color="var(--reddish-orange-color)"
    hrefLink="#work"
    beckon="true"
    position="left"
  />
</section>

<style>
  #about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    perspective: 10000px;
    gap: 10%;
    min-height: 90vh;
    margin-left: 2rem;
    overflow: hidden ;

  }
  .social-media {
    display: flex;
    gap: 1rem;
  }
  .social-item{
    background-size:cover; 
    background-position: center center;
     width: 50px;
     height:50px; 
     border-radius: 48px;
     border: 1px solid #fff1;
     /* padding: .25rem; */
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
    cursor: alias;
    margin-top: 10%;
  }
  .name {
    all: unset;
    font-size: 3.75rem;
    line-height: 2rem;
    font-family: var(--second-font-family);
    color: #fffd;
    
  }
  .gifText {
    color: var(--blue-color);
    font-weight: 700;
  }
  span {
  }
  .picture {
    position: relative;
  }
  .image {
    padding: 5rem;
  }
  .portal {
    height: 45rem;
    position: absolute;
    z-index: -1;
    bottom: -15%;
    left: 50%;
    transform: rotate(90deg) rotateY(80deg);
    transform-style: preserve-3d;
  }
  .title {
    font-size: 2rem;
  }

   /* --------------------------------------------------------------------          Responsive         ------------------------------------------------------------------ */

/* responsive */
/* Mobile phones (portrait) */
@media (max-width: 575px) {
  #about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 0;
  }
  .text{
    line-height: 2rem;
  }
  .text p{
    max-width: 90%;
  }
  .text p:first-child{
    line-height: 3rem;
  }

.picture {
  align-self:center;
  margin-top: 0;
  margin: 0;
}
.picture img{
  padding: 0;
  margin: 0;
  top:0;
  transform: scale(.9);
}

  .portal {
    display: none;
  }
}

/* Landscape phones and tablets (portrait) */
@media (min-width: 576px) and (max-width: 991px) {
  #about {
    flex-direction: column;
    gap: 2rem;
  }
  .picture {
    order: -1;
  }
  .portal {
    display: none;
  }
}

/* Laptops and desktops */
@media (min-width: 992px) and (max-width: 1200px) {
  /* Add styles for laptops and desktops here */
  .name{
    line-height: 3rem;
  }
  .picture{
    right: -3rem
  }
  .portal{
    width: 500px;
    left: 35%;
  }
}
@media (max-width: 320px) {
  /* Add styles for laptops and desktops here */
  .name{
    line-height: 3rem;
  }
  .picture{
    right: -3rem;
    transform: scale(.5)
  }
  .portal{
    width: 50px;
    left: 35%;
  }
}

</style>
<script>
  const social = document.querySelector(".social-media");
  social.querySelectorAll("a").forEach((element) => {
    element.addEventListener("mouseenter", (e) => {
      let image = element.getAttribute("data-animated-icon");
      element.style.backgroundImage = `url('${image}')`
    });
    element.addEventListener("mouseleave", (e) => {
      let image = element.getAttribute("data-static-icon");
            element.style.backgroundImage = `url('${image}')`

    });
  });

  
</script>

