   ---
  import {educationContent} from '../data/data.json';
  import SectionTitle from './SectionTitle.astro';
   ---


   <section id="education">
     <h2>{educationContent.title}</h2>
     <ul>
       {educationContent.degrees.map((degree) => (
         <li>
           <strong>{degree.degree}</strong> - {degree.institution} ({degree.year})
         </li>
       ))}
     </ul>
     <SectionTitle text="hobbies" color="var(--light-purple-color)" hrefLink="#hobbies"/>

   </section>

   <style>
    #education{
      position: relative;
    }
   </style>
