---
import { projectsContent } from "../data/data.json";
import Animat from "./Animat.astro";
import SectionTitle from "./SectionTitle.astro";
const className = Astro.props.class;

---

<section id="projects">
  <ul class="project-list">
    {
      projectsContent.projects.map((project, index) => (
        <Animat  class="main-skill-item" delay={3*index + "00"} animationName="fadeIn-from-bottom">

        <a href={project.links.github} target="_blank"><li   class="project-item">
          <div class="upper-card">
            <h3 class="title" data-index={index}>
              {project.title}
            </h3>
            {project.imgs.map((src) => (
              <img data-img-index={index} class="project-img" src={src} />
            ))}
          </div>
          <div class="lower-card">
            <p class="project-description">{project.description}</p>
            {project.sub_description.length <= 1 ? (
              <p class="project-sub-description">{project.sub_description}</p>
            ) : (
              <ul class="project-sub-description">
                {project.sub_description?.map((item) => (
                  <li >{item}</li>
                ))}
              </ul>
            )}
            <ul class="kewords">
                {project.keywords.map((item)=><li class="keyword" data-keyword-index={index}>#{item}</li>)}
            </ul>
          </div>
        </li>
        </a>
        </Animat>
      ))
    }
  </ul>
  <!-- <SectionTitle
    text="education"
    color="var(--blue-color)"
    hrefLink="#education"
  /> -->
</section>

<style>
  #projects {
    position: relative;
  }
  .project-list {
    display: grid;
    gap: 3rem;
    margin: 0;
    padding: 5%;
  }
  a{
    all: unset;
    cursor: pointer;
  
  }
  .project-item {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    width: 100%;
    border-radius: 0.75rem;
    overflow: hidden;
    transition:.8s .1s ease transform;
  }
  .project-item:hover{
    transform: scale(1.1);
  }

  .upper-card {
    height: 25vh;
    background-color: #1d1e24;
    padding: 0.5rem;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
    padding-bottom: 2rem;
  }
  .lower-card {
    min-height: 25vh;
    background-color: #2a2e35;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    border-radius: 0 0 .5rem .5rem ;
  }
  .title {
    font-family: var(--second-font-family);
    font-weight: 500;
    font-size: 1.5rem;
  }
  .project-img {
    width: 15rem;
    /* transform-style: preserve-3d; */
  }
  .title[data-index="0"] {
    color: var(--reddish-orange-color);
  }
  .title[data-index="1"] {
    color: var(--green-color);
  }
  .title[data-index="2"] {
    color: var(--yellow-color);
  }
  .title[data-index="3"] {
    color: var(--blue-color);
  }
  .title[data-index="4"] {
    color: var(--orange-color);
  }.title[data-index="5"] {
    color: var(--light-purple-color);
  }

  .project-img[data-img-index="0"] {
   filter: brightness(160%);
    width: 35%;
    position: absolute;
    right: 15%;
    top:45%;
  }
  .project-img[data-img-index="0"]:nth-child(2) {
    filter: brightness(86%);
    position: absolute;
    width: 50%;
    top:45%;
    left: 0;
  }
   .project-img[data-img-index="0"]:last-child {
    filter: brightness(160%);
    width: 50%;
    position: absolute;
    right: 5%;
    top: 15%;
  }

  .project-img[data-img-index="1"] {
    filter: brightness(130%);
    filter: contrast(120%);
    filter: drop-shadow(1px 1px 2px #000);
    width: 100%;
    position: absolute;
    left: 0%;
  }

  .project-img[data-img-index="2"] {
    filter: brightness(120%);
    width: 60%;
    position: absolute;
    top: 35%;
  }
  .project-img[data-img-index="2"]:last-child {
    width: 70%;
    position: absolute;
    right: -10%;
    top:25%;
    filter: drop-shadow(10px 0px 2px black);
  }
  .project-img[data-img-index="3"] {
    filter: brightness(100%);
    width: 80%;
    position: absolute;
    left: 5%;
    top: 10%;
    filter: drop-shadow(1px 1px 5px #000);
  }  
  .project-img[data-img-index="4"]{
    filter: brightness(100%);
    width: 40%;
    position: absolute;
    right: 0%;
    top: 5%;
  } 
   .project-img[data-img-index="4"]:last-child{
    filter: brightness(100%);
    width: 40%;
    position: absolute;
    right: 45%;
    top: 30%;

  }  
  .project-img[data-img-index="5"]{
    filter: brightness(100%);
    width: 90%;
    position: absolute;
    bottom: 20%;
    left: 5%;
    right: 5%;
  } 
   .project-img[data-img-index="5"]:last-child{
    filter: brightness(150%);
    width: 50%;
    position: absolute;
    right: 25%;
    left: 25%;
    bottom: -15%;

  }
  .project-description {
    font-family: var(--second-font-family);
    font-weight: lighter;
    padding: 1rem 2rem;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
  }
  .project-sub-description {
    /* font-weight: 600; */
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 500;
    tab-size: 4;
    font-family: var(--main-font-family);
    padding:0 2rem;
  }
  .project-sub-description li{
    margin: 0 1rem;
  }
  .kewords{
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    padding-left: 1rem;
  
  }
  .kewords li{
    all:unset;
    padding: .5rem .5rem .35rem .5rem;
    background-color: var(--second-yellow-color);
    border-radius: .45rem;
    color: #12181a;
    font-weight: 500;
    font-size: .75rem;
    margin-bottom: 1rem;
 

    /* filter: brightness(80%); */
  }
  .keyword[data-keyword-index="0"]{
    background-color: var(--second-orange-color);
  }
  .keyword[data-keyword-index="0"]:nth-child(2){
    background-color: var(--second-green-color);
  }
  .keyword[data-keyword-index="0"]:last-child{
    background-color: var(--pink-color);
  }
  .keyword[data-keyword-index="1"]{
    background-color: var(--second-green-color);
  }
  .keyword[data-keyword-index="2"]{
    background-color: var(--second-yellow-color);
  }
  .keyword[data-keyword-index="2"]:last-child{
    background-color: var(--second-green-color);
  }
  .keyword[data-keyword-index="3"]{
    background-color: var(--second-blue-color);
    color: #fff;
  }
  .keyword[data-keyword-index="4"]{
    background-color: var(--orange-color);
  }
  .keyword[data-keyword-index="4"]:nth-child(2){
    filter: brightness(75%);
    background-color: var(--purple-color);
    color: #fff;
  }
    .keyword[data-keyword-index="5"]:nth-child(2){
    filter: brightness(75%);
    background-color: var(--light-purple-color);
    color: #000;
  }
  /* --------------------------------------------------------------------          Responsive         ------------------------------------------------------------------ */



/* Responsive styles */
@media (max-width: 320px) {
  .project-list {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1%;
  }

  .project-item {
    min-height: 40vh;
  }

  .title {
    font-size: 1.2rem;
  }

  .project-description {
    font-size: 1rem;
  }

  .project-sub-description {
    font-size: 0.8rem;
  }

  .kewords li {
    font-size: 0.6rem;
  }
  .keywords{
      gap: 0;
  }
}

/* ... other media queries and styles ... */

@media (minb-width: 576px) {
  .project-list {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 10%;
  }
  .keywords{
      gap: 0;
  }
  
}

@media  (min-width: 768px) {
  .project-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    padding: 3%;
  }
  .keywords{
      gap: 0;
  }

}
@media (min-width: 769px) and (max-width: 1024px) {
  .project-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding: 3%;
  }
  .keywords{
      gap: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .project-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding: 3%;
  }

  .project-item {
    min-height: 45vh;
  }

  .title {
    font-size: 1.4rem;
  }

  .project-description {
    font-size: 1.1rem;
  }

  .project-sub-description {
    font-size: 0.9rem;
  }

  .kewords li {
    font-size: 0.7rem;
  }
}

/* Large laptop styles */
@media (min-width: 1367px) and (max-width: 1440px) {
  .project-list {
    grid-template-columns: repeat(4,  1fr);
    gap: 2rem;
    padding: 3%;
  }

  .project-item {
    min-height: 50vh;
  }

  .title {
    font-size: 1.5rem;
  }

  .project-description {
    font-size: 1.25rem;
  }

  .project-sub-description {
    font-size: 1rem;
  }

  .kewords li {
    font-size: 0.75rem;
  }
}
@media  (min-width: 1367px) {
  .project-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    padding: 3%;
  }
}
/* ... landscape ... */


/* ... other media queries and styles ... */
/* Laptop */
@media  (max-width: 1024px) and (orientation: landscape) {
  .project-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    padding: 3%;
  }

.project-list h2{
    font-size: .8rem;

}
  .upper-card{
    /* padding-top: 0; */
    padding-bottom:7rem;
  }
  .upper-card img{
    transform: scale(1);
    bottom: 0%;
    top: 50%;
  }
  .keywords{
      gap: 0;
  }

}

</style>
