   ---
   import {workExperienceContent} from '../data/data.json';
   ---

 

   <section id="work">
     <h2>{workExperienceContent.title}</h2>
     <ul>
       {workExperienceContent.jobs.map((job) => (
         <li>
           <strong>{job.position}</strong> - {job.company} ({job.year})
         </li>
       ))}
     </ul>
   </section>
