   ---
   import {workExperienceContent} from '../data/data.json';
   import SectionTitle from './SectionTitle.astro';
   ---

 

   <section id="work">
     <h2>{workExperienceContent.title}</h2>
     <ul>
       {workExperienceContent.jobs.map((job) => (
         <li>
           <strong>{job.position}</strong> - {job.company} ({job.year})
         </li>
       ))}
     </ul>
    <SectionTitle text="Skills" color="var(--orange-color)" hrefLink="#skills"/>

   </section>

   <style>
    #work{
      position: relative;
    }
   </style>
